
.bou{
    padding:10px,20px;
    background-color: rgb(50, 150, 150);
    font-family:$font-body;
    border-radius: 4px;
    &:hover{
        color:rgb(121, 105, 160);
        
    }
    }

% btn{
    display: inline-block;
    border-radius: 5px;
    padding:10px,20px;
    margin:5px;
}
    .btn-search{
@extend %btn;
background-color:lighten(aqua,10%);
&:hover{
    color:rgb(121, 105, 160);
    
}
    }
    .btn-annul{
        @extend %btn;
background-color:darken(rgb(61, 23, 44),10%);
&:hover{
    color:rgb(121, 105, 160);
    
}
    }